*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9F7F7 !important;
    height: 2000px;
}

.nav{
    margin-top: 15px;
}

.nav-link{
    margin-right: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3F72AF !important;
    font-weight: bolder !important;
}


.nav-link:hover{
    margin-right: 80px;
    text-decoration: underline;
}

.nav-link.active{
    text-decoration: underline;
    color: #112D4E !important;
}

.Profiletitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 150px;
    margin-left: 175px;
}
