*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9F7F7 !important;
    height: 2000px;
}

.nav{
    margin-top: 15px;
}

.nav-link{
    margin-right: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3F72AF !important;
    font-weight: bolder !important;
}


.nav-link:hover{
    margin-right: 80px;
    text-decoration: underline;
}

.nav-link.active{
    text-decoration: underline;
    color: #112D4E !important;
}

.nav-link:last-child{
    margin-right: 0px;
}

.profile{
    margin-top: 0px;
    display: flex;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

.Profiletitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: 200px;
    animation-name: mymove;
}

.nama{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #112D4E;
}

.containertulis{
    display: flex;
    margin-top: 160px;
    flex-direction: column;
    justify-content: center;
}

.nama{
    font-size: 35px;
}

.isidesc{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    margin-left: 45px;
    color: #112D4E;
}

.back{
    position: absolute;
    margin-top: 67px;
    width: 475px;
    height: auto;
    /* border-style: dashed; */
    padding-left: 0;
}

.fotoku{
    /* border-style: dashed; */
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 70px;
}

.ist{
    height: 100px;
}

.ist1{
    height: 100px;
}

.titleskil{
    margin-left: 550px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#skillset{
    margin-top: 100px;
}

.carousel-control-prev{
    background-color: #112D4E !important;
}

.carousel-control-next{
    background-color: #112D4E !important;
}

.card{
    margin-left: 215px;
}

.text-body-secondary{
    display: flex;
    flex-direction: column;
}

#aboutme{
    margin-top: 200px;
}

.personality{
    height: 500px;
    background-color: #DBE2EF;
}

.kepalap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personalhead{
    padding-top: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: #112D4E;
}

.ent{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #112D4E;
}

.mc{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #3F72AF;
}

.akumc{
    margin-top: 30px;
    height: 200px;
    width: auto;
}

.jelasmc{
    margin-top: 40px;
    width: 400px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: #3F72AF;
    margin-left: 380px;
}

.D{
    padding-top: 20px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: #112D4E;
}
